
html{
    background-repeat: repeat;
    background-position: center;
    background-image: url('certificado\ background.png');
}

div#main{
    display: flex;
    padding: 10px;
    text-align: center;
    width: 600px;
    margin-top: 260px;
    margin-left: 666px;
    font-family: sans-serif ;
    border: 1px solid #d7dfe3;
    color: #455a64 !important;
    position: absolute;
    background-color: white;
}


h1#let{
    margin-top: 30px;
    margin-right: 20px;
}

input#nome{
    margin-top: 10px;
    margin-bottom: 10px;
}

input#senha{
    margin-bottom: 10px;
}

div#botao{
    color: #fff !important;
    background-color: #0c5819 !important;
    border-color: #0c5819 !important;
}

div#botao:hover {
    color: #fff !important;
    background-color: #07360f !important;
    border-color: #062b0c !important;
}

h1#let{
    margin-left: 40px;
}

#portal-header {
    color: #FFF;
    background-color: #0A5517;
    background-image: -moz-radial-gradient(center,ellipse cover,#19882C 1%,#025310 100%);
    background-image: -webkit-gradient(radial,center center,0,center center,100%,color-stop(1%,#19882C),color-stop(100%,#025310));
    background-image: -webkit-radial-gradient(center,ellipse cover,#19882C 1%,#025310 100%);
    background-image: -o-radial-gradient(center,ellipse cover,#19882C 1%,#025310 100%);
    background-image: -ms-radial-gradient(center,ellipse cover,#19882C 1%,#025310 100%);
    background-image: radial-gradient(ellipse at center,#19882C 1%,#025310 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=darken(#19882C,3),endColorstr=#025310,GradientType=1);
    display: block;
}

#portal-header>div {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#portal-title {
    margin: 60px 0 46px 0;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    line-height: 1em;
}

#portal-title-1 {
    top: 40px;
    font-size: 12px;
}

#logo span {
    position: absolute;
    display: block;
    line-height: 1em;
    margin-left: 20px;
}

#portal-logo, #portal-title {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

#logo {
    margin-left: 22px;
}

input#form-control{
    margin-bottom: 20px;
}

form {
    display: block;
    margin-top: 0em;
}

body.notloggedin #loginbox #boxForm {
    background-color: #fff;
    color: #5a5a5a;
    margin-top: 1rem;
    text-align: left;
    opacity: 1;
}

button#botao:hover{
    
    color: #fff;
    background-color: #07360f;
    border-color: #062b0c;
}

button#botao{
    margin-top: 10px;
    color: #fff;
    background-color: #0c5819;
    border-color: #0c5819;
}

label#sen{
    margin-top: 10px;
}

